# Token Bot Telegram dari @BotFather
BOT_TOKEN=8683639097:

# ID Group (Pastikan diawali dengan -100 untuk Supergroup/Topics)
CHAT_ID=

# Direktori yang ingin dipantau di HDD Anda
WATCH_DIR=
HOST_UPLOAD_DIR=
TOPIC_GENERAL=
TOPIC_PICTURES=
TOPIC_PROJECT=
TOPIC_DOCUMENT=
TOPIC_ACCOUNTS=
ENCRYPTION_KEY=
# Hapus file setelah diupload
DELETE_AFTER_UPLOAD=true

MONGODB_URI=
